<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="text-center my-5"><%= @restaurant.name %></h1>
      <ul>
        <li>Category : <%= @restaurant.category %></li>
        <li>Address : <%= @restaurant.address %></li>
        <li>Phone Number : <%= @restaurant.phone_number %></li>
      </ul>
    </div>
  </div>
  <p><%= link_to "Give this restaurant a feeback !", new_restaurant_review_path(@restaurant), class: "btn btn-warning" %></p>
  <p><%= link_to "Back to list", restaurants_path, class: "btn btn-warning" %></p>
</div>
